<nav>
    <a href="/">Home</a>
    <% if (locals.user) { %>
        <a href="/feed">Feed</a>
        <h2>Hello, <%= locals.user.name %>!</h2>
        <a href="/auth/logout">Log out</a>
    <% } else { %>
        <a href="/auth/login">Log in</a>
        <a href="/auth/signup">Sign up</a>
    <% } %>
</nav>